body {
    background-color: #eaeaea;
}

a {
    color: rgb(67, 82, 255);
}

.header1 {
    position: absolute;
    left: 620px;
    top: -10px;
}

.text1 {
    position: absolute;
    top: 60px;
}

.flow {
    color: rgb(46, 217, 134);
    position: absolute;
    left: 170px;
    top: 20px;
    font-size: xx-large;
}

.topline {
    background-color: black;
    height: 2px;
    color: #eaeaea;
    position: absolute;
    left: -700px;
    top: 60px;
    width: 1616px;
}