body {
    background-color: #c0d4ff;
}

a {
    color: rgb(67, 82, 255);
}

.header1 {
    position: absolute;
    left: 620px;
    top: -10px;
}

.text1 {
    font-size: x-large;
    font-family: monospace;
    position: absolute;
    top: 60px;
}

.topline {
    background-color: black;
    height: 2px;
    color: #8cb0ff;
    position: absolute;
    left: -700px;
    top: 60px;
    width: 1616px;
}

.topping {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: -620px;
    height: 50px;
    top: 10px;
    width: 1536px;
    align-items: start;
    background-color: rgb(255, 121, 76);
}

.painandsuffer {
    font-family: monospace;
    position: absolute;
    top: -10px;
    left: 10px;
}

.text2 {
    font-family: monospace;
    position: absolute;
    top: 90px;
    font-size: x-large;
}